*{
    margin: 0;
    padding: 0;
    background: whitesmoke;
    box-sizing: border-box;
}
body{
    display: flex;
    border: 2px double black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.mom{
    display: flex;
    border: 2px solid black;
    flex-flow: row wrap;
    width: 20%;
    height: 20%;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.mom div{
    display: inline-block;
    text-align: center;
    font-size: 20px;
}